[submodule "resolvelib/ducc"]
	path = resolvelib/ducc
	url = https://gitlab.mpcdf.mpg.de/mtr/ducc
[submodule "resolvelib/pybind11"]
	path = resolvelib/pybind11
	url = https://github.com/pybind/pybind11
